#additional files for build
Software/development/runtime-*
Software/development/workspace
Software/sampling/data/workspace

#latex output
**/*.log
**/*.log
**/*.aux

#eclipse project files
.project
.settings
.classpath

#not necessary files
Prototyping
Reglemente

#target directories
Software/development/data/**/target