#additional files for build
Software/development/runtime-*
Software/development/workspace
Software/sampling/data/workspace

#latex output
Dokumentation/**/*.log
Dokumentation/**/*.aux
Dokumentation/**/*.synctex.gz
Dokumentation/**/*.toc
Dokumentation/**/*.blg
Dokumentation/**/*.bbl
Dokumentation/**/*.lof
Dokumentation/**/*.lol
Dokumentation/**/*.lot

#eclipse project files
.project
.settings
.classpath

#not necessary files
Prototyping
Reglemente

#target directories
Software/development/data/**/target
Software/sampling/data/**/target